<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Jugadores</th>
            <th>Equipo Actual</th>
            <th>Posicion</th>
            <th>Camiseta</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plantel of plantel">
            <td><img class= "img-thumbnail"[src]="plantel.img"[alt]="plantel.jugador"></td>
            <td>{{plantel.jugador}}</td>
            <td>{{plantel.equipo}}</td>
            <td>{{plantel.posicion}}</td>
            <td><app-button-venta [plantel]="plantel"></app-button-venta></td>
        </tr>
    </tbody>
</table>